@model MVCBasico12D.Models.MateriaProfesor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Asignar profesor a materia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*Formulario que agarra el DNI del alumno y el Id del curso y lo manda al Action Create de CursoAlumnoes*@
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Profesor</label>
                <select id="profesores">
                    @if (ViewBag.Profesores != null)
                    {
                        foreach (Profesor p in ViewBag.Profesores)
                        {
                            <option value=@p.Id>@p.Nombre , @p.Apellido</option>
                        }
                    }
                </select>
                <input asp-for="ProfesorId" id="profesorId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label>Materias</label>
                <select id="materias">
                    @if (ViewBag.Materias != null)
                    {
                        foreach (Materia m in ViewBag.Materias)
                        {
                            <option value=@m.Id>@m.Nombre, @m.Anio</option>
                        }
                    }
                </select>
                <input asp-for="MateriaId" id="materiaId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Asignar" onclick="asignarProfesor()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/site.js"></script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
