@model MVCBasico12D.Models.Usuario;
@{
    ViewData["Title"] = "Login";
    Layout = "";
}
@* 1 - PAGINA INICIAL - LOGIN *@
<!DOCTYPE html>
<html>
<head>
    <meta charset-"utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuela Aleucse</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <h1>Escuela Aleucse</h1>
    <div class="ingreso">
        @* 2 - FORMULARIO DE LOGIN: Manda el valor de los inputs por parametro al UsuarioController *@
        @using (Html.BeginForm("Validar", "Usuarios", FormMethod.Post))
        {
            <br><label id="userLabel" for="minombre">Usuario: </label>
            <div name="minombre" id="minombre">@Html.TextBoxFor(u => u.Login, new { @class = "text", type = "text", required = "required" })</div>
            <label for="miclave" id="labelC"> Contraseña: </label>
            <div name="miclave" id="miclave">@Html.TextBoxFor(u => u.Password, new { @class = "text", type = "password", required = "required" })</div>
            <input type="submit" id="btnAcceder" value="Acceder" />
            <br>
            <label style="@ViewBag.Erro">Usuario y/o contraseña invalido(s)!</label>
        }
    </div>
</body>
</html>