@model MVCBasico12D.Models.CursoMateria

@{
    ViewData["Title"] = "Asignar materia a curso";
}

<h1>Asignar materia a curso</h1>

<h4>Materias por curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*Formulario que agarra el ID de la materia y el Id del curso y lo manda al Action Create de CursosMaterias*@
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Materia</label>
                <select id="materias">
                    @if (ViewBag.Materias != null)
                    {
                        foreach (Materia m in ViewBag.Materias)
                        {
                            <option value=@m.Id>@m.Nombre, @m.Anio</option>
                        }
                    }
                </select>
                <input asp-for="MateriaId" id="materiaId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label>Curso</label>
                <select id="cursos">
                    @if (ViewBag.Cursos != null)
                    {
                        foreach (Curso c in ViewBag.Cursos)
                        {
                            <option value=@c.Id>@c.Sigla</option>
                        }
                    }
                </select>
                <input asp-for="CursoId" id="cursoId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label style="@ViewBag.Erro">Materia ya asignada al curso</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Asignar" onclick="asignarMateria()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/site.js"></script>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
