@model MVCBasico12D.Models.CursoMateria

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Materia por curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">@ViewBag.Materia.Nombre @ViewBag.Materia.Anio</label>
                <input asp-for="MateriaId" type="hidden" class="form-control" />
                <span asp-validation-for="MateriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select id="cursos">
                    @if (ViewBag.Curso != null)
                    {
                        foreach (Curso c in ViewBag.Curso)
                        {
                            <option value=@c.Id>@c.Sigla</option>
                        }
                    }
                </select>
                <input asp-for="CursoId" id="cursoId" type="hidden" class="form-control" />
                <span asp-validation-for="CursoId" class="text-danger"></span>
                <label style="@ViewBag.Erro">Materia ya asignada a este curso!</label>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" onclick="asignarCurso()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
