@model MVCBasico12D.Models.Nota

@{
    Layout = "";
}

@{
    ViewData["Title"] = "Inicio";
}

<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="~/css/inicio.css">
    <link rel="stylesheet" href="~/css/notas.css">
</head>
<body>
    <ul>
        <form asp-action="InicioAlumno" id="pageAlumno">
            <li><a href="#" onclick="pageAlumno()">Volver</a></li>
            <input asp-for="AlumnoId" id="alumnoId" type="hidden" value=@Model.AlumnoId class="form-control" />
        </form>
        <li id="Salir"><a id="salir" href="#" onclick="salir()">Salir</a></li>
    </ul>

    <div class="container">
        <div id="table" class="table-editable">
            <span class="table-add glyphicon glyphicon-plus"></span>
            <table class="table">
                <tr>
                    <th>Materia</th>
                    <th>1° cuatrimestre</th>
                    <th>2° cuatrimestre</th>
                    <th>3° cuatrimestre</th>
                    <th>Nota final</th>
                </tr>
                @if (ViewBag.Materias != null)
                {
                    @foreach(Materia mat in ViewBag.Materias)
                    {
                        int cont = 0;
                        int prom = 0;
                        <tr>
                            <td contenteditable="false">@mat.Nombre</td>
                            @foreach (Nota n in ViewBag.Notas)
                            {
                                if (cont < 3)
                                {
                                    if (mat.Id == n.MateriaId)
                                    {
                                        <td contenteditable="false">@n.Nota1</td>
                                        prom += n.Nota1;
                                    }
                                    else
                                    {
                                        <td contenteditable="false">0</td>
                                    }
                                    cont++;
                                }

                            }
                            <td contenteditable="false">@(prom/3)</td>
                        </tr>
                    }
                    
                }
            </table>
        </div>
    </div>

    <script src="~/js/site.js"></script>
    <script>
        function pageMateria(id) {
            document.getElementById("materiaId").value = id;
            document.getElementById("page").submit();
        }
        function pageAlumno() {
            document.getElementById("pageAlumno").submit();
        }
    </script>
</body>
