@model MVCBasico12D.Models.CursoAlumno


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Asignar alumno a curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*Formulario que agarra el DNI del alumno y el Id del curso y lo manda al Action Create de CursoAlumnoes*@
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Alumno</label>
                <select id="alumnos">
                    @if (ViewBag.Alumnos != null)
                    {
                        foreach (Alumno a in ViewBag.Alumnos)
                        {
                            <option value=@a.Id>@a.Nombre @a.Apellido</option>
                        }
                    }
                </select>
                <input asp-for="AlumnoId" id="alumnoId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label>Curso</label>
                <select id="cursos">
                    @if (ViewBag.Cursos != null)
                    {
                        foreach (Curso c in ViewBag.Cursos)
                        {
                            <option value=@c.Id>@c.Sigla </option>
                        }
                    }
                </select>
                <input asp-for="CursoId" id="cursoId" type="hidden" class="form-control" />
            </div>
            <label style="@ViewBag.Erro">Inválido!</label>
            <div class="form-group">
                <input type="submit" value="Asignar" onclick="asignarAlumno()" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<script src="~/js/site.js"></script>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
