@model MVCBasico12D.Models.CursoAlumno


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Asignar alumno a curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*Formulario que agarra el DNI del alumno y el Id del curso y lo manda al Action Create de CursoAlumnoes*@
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Alumno</label>
                @Html.DropDownList("alumnos",
        new SelectList(ViewBag.Alumnos))
                <input asp-for="AlumnoId" id ="dni" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label>Curso</label>
                @Html.DropDownList("cursos",
                     new SelectList(ViewBag.Cursos))
                <input asp-for="CursoId" id="sigla" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Asignar" onclick="asignarAlumno()" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

<script src="~/js/site.js"></script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
