.container {
    width: 30%;
    margin: auto;
    overflow: hidden;
    margin-top: 1%;
}

h1 {
    color: grey;
    font-family: cursive;
    text-align: center;
}

.ingreso {
    background-color: grey;
    text-align: right;
    color: white;
}
body {
    background: url('/images/schoolBG.jpg');
}