@model MVCBasico12D.Models.Profesor

@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar</h1>

<h4>Profesor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" required />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" type="text" id="dni" minlength="8" maxlength="8" class="form-control" required />
                <span asp-validation-for="Dni" class="text-danger"></span>
                <label style="@ViewBag.Erro">DNI ya existe!</label>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" type="date" placeholder="dd-mm-yyyy" min="01-01-1900" max="31-12-2014" id="fechaNa" class="form-control" required />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="email" type="email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" id="telefono" type="text" required minlength="8" maxlength="8" class="form-control"/>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" onclick="return validarFormPersona()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="~/js/site.js"></script>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
