@model MVCBasico12D.Models.Profesor

@{
    Layout = "";
}

@{
    ViewData["Title"] = "Inicio";
}

<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="~/css/inicio.css">
</head>
<body>
    <h1>@ViewBag.Curso - @ViewBag.Materia</h1>
    <ul>
        <form asp-action="Inicio" id="pageProfesor">
            <li><a href="#" onclick="pageProfesor()">Inicio</a></li>
            <input asp-for="Dni" id="profesorId" type="hidden" value=@Model.Dni class="form-control" />
        </form>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Cursos</a>
            <div class="dropdown-content">
                <form asp-action="paginaCurso" id="page" method="post">
                    @if (ViewBag.Cursos != null)
                    {
                        @foreach (var nw in ViewBag.Cursos)
                        {
                            <a class="nav-link text-dark" id="@nw" onclick="pageCurso(this.id)">@nw</a>
                        }
                        <input asp-for="Id" id="profesorId" type="hidden" value=@Model.Id class="form-control" />
                        <input asp-for="Nombre" id="cursoId" type="hidden" class="form-control" />
                    }
                </form>
            </div>
        </li>
        <form asp-action="Notas" id="pageProfesor">
            <li><a href="#" onclick="pageProfesor()">Calificaciones</a></li>
            <input asp-for="Id" id="profesorId" type="hidden" value=@Model.Id class="form-control" />
        </form>
        <li id="Salir"><a id="salir" href="#" onclick="salir()">Salir</a></li>
    </ul>
    <script src="~/js/site.js"></script>
    <script>
        function pageCurso(id) {
            document.getElementById("cursoId").value = id;
            document.getElementById("page").submit();
        }

        function pageProfesor() {
            document.getElementById("pageProfesor").submit();
        }
    </script>
</body>
